body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f6f6f6;
}
  
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f6f6f6;
    padding: 10px 30px;
    position: relative;
}
  
.navbar-logo {
    display: flex;
    align-items: center;
}
  
.navbar-logo img {
    height: 65px; /* Adjustable logo height using CSS variable */
    margin-right: 10px; /* Space between image and text */
}
  
.navbar-text {
    display: flex;
    flex-direction: column;
}
  
.navbar-text .title {
    font-size: 20px;
    font-weight: bold;
}
  
.navbar-text .subtitle {
    font-size: 12px;
}
  
.navbar-menu {
    display: flex;
    align-items: center;
    gap: 30px;
    transition: transform 0.3s ease;
}
  
.navbar-menu a {
    color: #ffc033;
    text-decoration: none;
    font-size: 18px;
}

.all{
    display: flex;
    gap:30px;
}

.profile-icon-container {
    display: flex;
    align-items: center;
    position: relative;
}
  
.profile-icon-container img {
    height: 45px; /* Adjust the height as needed */
    border-radius: 50%;
    cursor: pointer;
}
  
.navbar-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}
  
.navbar-toggle .bar {
    height: 3px;
    width: 25px;
    background-color: #ffc033;
    margin: 4px 0;
}

.menu {
    position: fixed;
    top: 70px;
    right: -250px;
    width: 300px;
    z-index: 1;
    transition: right 0.3s ease;
}
  
.menu.open-class {
   right: 0;
}
  
.sub-menu{
    background-color: #ffc033;
    padding: 20px;
    margin-left:110px;
    height: 620px;
}
  
.info{
    display: flex;
    align-items: center;
}

.info h2{
    font-weight: 500; /*disini kalo mau ubah username jadi bold*/
    font-size: large;
}
  
.info img{
    width:45px;
    border-radius: 50%;
    margin-right: 15px;
}
  
.sub-menu hr{
    border: 0;
    height: 1px;
    width:100%;
    background-color: aliceblue;
    margin: 15px 0 10px;
}
  
.icon{
    font-size: 30px;
    margin-right: 15px;
}
  
.sub-menu-link{
    display: flex ;
    align-items: center;
    color: black;
    font-size: 15px;
    text-decoration: none;
}
  
.sub-menu-link p{
    width: 100%;
}
  
.sub-menu-link span{
    transition: transform 0.5s;
    text-decoration: none;
}
  
.sub-menu-link:hover span{
    transform: translateX(5px);
}
  
.sub-menu-link:hover p{
    font-weight: 600;
}

.kotak {
    width: 70vw; 
    height: 70vh; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute; 
    background: #FBD684; 
    border-radius: 30px;
}

.kotak2{
    width: 66vw; 
    height:64vh; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;  
    border-radius: 30px;
    border: 8px black solid;
}

.day {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap:1vw 3vw;
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tulisan{
    position: absolute;
    font-size: 2.5vw;
    top: 19%;
    left: 50%;
    text-align: center;
    white-space: nowrap;
    transform: translate(-50%, -50%);
}

button{
    width:5vw;
    height: 8.5vh;
    border:2px #171615 solid;
    border-radius: 5px;
    font-size: large;
    padding: 0;
    transition: background-color 0.3s ease;/*isi kotak warna*/
}

button:hover {
    background-color: #ffc033;
    cursor: pointer;
   
}

.Rectangle26 {
    width: 379px;
    height: 413px;
    left: 0px;
    top: 0px;
    background: #f6f6f6;
    border-radius: 26.44px;
}
  
  
.thank {
    position: absolute;
    font-size: 40px;
    top: 50%;
    left: 50%;
    right: -50%;
    text-align: center;
    transform: translate(-50%, -50%);
}
  
.text2 {
    position: absolute;
    font-size: 25px;
    top: 75%;
    left: 50%;
    right: -50%;
    text-align: center;
    transform: translate(-50%, -50%);;
}

.popup-box {
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute; 
    
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Warna latar belakang dengan opasitas */
    z-index: 1;/* Properti z-index yang tinggi untuk menampilkan di atas elemen lain */
    justify-content: center;
    align-items: center;
    display: none;
}

svg{
    top: 28%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute; 
}

footer { 
    position: absolute;
    width: 100%; 
    height: 60px; 
    background-color: #ffc033;
    bottom: 0;
}

@media (max-width: 768px){
    .kotak{
        width: 66vw; 
        height: 58vh;
    }
    .kotak2{
        width: 62vw; 
        height:52vh;
        border: 5px black solid;
    }

    .day {
        gap:2vw 3vw;
        top: 55%;
    }

    .day button{
        width: 6vw;
        height: 6vh;
    }

    .tulisan{
        font-size: 2.6vw;
        top: 27%;
    }
    .sub-menu{
        height: 530px;
    }
    
}
@media (max-width: 550px) {
    .signin-btn{
        position: relative;
        left: 20%;
    }
    ul{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-right: 10px;
    }
    .navbar{
        padding: 10px 20px;
    }
    .all{
        gap:15px;
    }
    .kotak{
        width: 300px; 
        height: 58vh;
        border-radius: 20px;
    }
    .kotak2{
        width: 60vw; 
        height:52vh;
        border: 5px black solid;
        border-radius: 20px;
    }
    .day{
        gap:1vw 3vw;
        top: 53%;
        grid-template-columns: repeat(4, 1fr);
    }
    .day button{
        width:10vw;
        height: 5vh;
        font-size: 10px;
    }
    .tulisan{
        font-size: 2.6vw;
        top: 26.5%;
    }
    .navbar-menu {
        display: flex;
        flex-direction: column;
        width: 200px;
        height: 530px;
        position: fixed;
        top: 70px; /* Adjust this value to move the menu down */
        right: -250px;
        background-color: #ffc033;
        padding-top: 20px; /* Adjust the padding as needed */
        z-index: 1;
        transform: translateX(0);
        transition: right 0.3s ease;
    }
    .navbar-toggle {
        display: flex;
        justify-content: center;
    } 
    .navbar-menu.active {
        right: 0;
    }
    .navbar-menu a{
        color: black;
    }
}
  
@media (max-width: 375px){
    .navbar-logo img{
      height: 50px;
    }
    .navbar-text .title{
      font-size: 5vw ;
    }
    .navbar-text .subtitle{
      font-size: 8px;
    }
    .profile-icon-container {
        display: block; /* Ensure the profile icon is visible in mobile view */
    }
    .kotak{
        width: 270px; 
    }
    .tulisan{
        font-size: 2.8vw;
    }
}

@media (max-width: 320px){
    .kotak{
        width: 250px;
    }
    .kotak2{
        width: 63vw;
    }
    .signin-btn{
        position: relative;
        left: 24%;
        font-size: 9.9px;
    }
    .signup-btn{
        font-size: 9.9px;
    }
    .day{
        gap:1.3vw 4vw;
    }
}

  